/* your code here */
*{
    background-color: black;
    color: white;
    box-sizing: border-box;
    
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 0.6rem;
    margin-bottom: 4rem;
}
.logo_name{
    font-size: 40px;
}
.media-icons{
	display:flex;
	flex-direction:row;
}
.media-icons i{
    margin-top: 1.8rem;
    padding:0 0.3rem;
}
.link-boxes{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
a:link{
    text-decoration: none;
    color:white;
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
ul li{
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 0.5rem;
}
ul a{
    opacity: 0.9;
    padding:0.3rem 0;
}
.bottom-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(85, 81, 81);
    margin-top: 3rem;
    margin-right: 0px;
}
.bottom-details span{
    background-color: transparent;
    color:whitesmoke;
    opacity: 0.6;
    padding: 0.5rem 2rem;
}